# Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("unclean_data.csv")

In [3]:
df.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                14 non-null     object
 1   num_critic_for_reviews     14 non-null     int64
 2   duration                   11 non-null     float64
 3   DIRECTOR_facebook_likes    12 non-null     object
 4   actor_3_facebook_likes     14 non-null     int64
 5   ACTOR_1_facebook_likes     14 non-null     int64
 6   gross                      14 non-null     int64
 7   num_voted_users            13 non-null     float64
 8   Cast_Total_facebook_likes  12 non-null     float64
 9   facenumber_in_poster       9 non-null      float64
 10  num_user_for_reviews       14 non-null     int64
 11  budget                     14 non-null     int64
 12  title_year                 14 non-null     int64
 13  ACTOR_2_facebook_likes     13 non-null     float64
 14  imdb_score                 14 non-null     float64
 15  title_year.1               7 non-null      float64
dtypes: float64(7), int64(7), object(2)
memory usage: 1.9+ KB

In [5]:
df.describe()

,num_critic_for_reviews,duration,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,14.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

### Change Inconsistent Column Names

In [6]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [7]:
df.columns=df.columns.str.upper()

In [8]:
df

,MOVIE_TITLE,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS,NUM_VOTED_USERS,CAST_TOTAL_FACEBOOK_LIKES,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET,TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,TITLE_YEAR.1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

### Renaming the columns

In [9]:
df.columns

Index(['MOVIE_TITLE', 'NUM_CRITIC_FOR_REVIEWS', 'DURATION',
       'DIRECTOR_FACEBOOK_LIKES', 'ACTOR_3_FACEBOOK_LIKES',
       'ACTOR_1_FACEBOOK_LIKES', 'GROSS', 'NUM_VOTED_USERS',
       'CAST_TOTAL_FACEBOOK_LIKES', 'FACENUMBER_IN_POSTER',
       'NUM_USER_FOR_REVIEWS', 'BUDGET', 'TITLE_YEAR',
       'ACTOR_2_FACEBOOK_LIKES', 'IMDB_SCORE', 'TITLE_YEAR.1'],
      dtype='object')

In [10]:
df.rename(columns = {'MOVIE_TITLE':'MOVIE NAME'}, inplace=True)

In [11]:
df.rename(columns = {'NUM_CRITIC_FOR_REVIEWS':'CRITIC REVIEWS'}, inplace=True)

In [12]:
df.rename(columns = {'DURATION':'TIME'}, inplace=True)

In [13]:
df.rename(columns = {'DIRECTOR_FACEBOOK_LIKES':'DIRECTOR FB LIKES'}, inplace=True)

In [14]:
df.rename(columns = {'ACTOR_3_FACEBOOK_LIKES':'ACTOR FB LIKES'}, inplace=True)

In [15]:
df.rename(columns = {'ACTOR_1_FACEBOOK_LIKES':'ACTRESS FB LIKES'}, inplace=True)

In [16]:
df.rename(columns = {'NUM_VOTED_USERS':'NUM OF VOTED USERS'}, inplace=True)

In [17]:
df.rename(columns = {'CAST_TOTAL_FACEBOOK_LIKES':'CAST FB LIKES'}, inplace=True)

In [18]:
df.rename(columns = {'FACENUMBER_IN_POSTER':'FACE IN POSTER'}, inplace=True)

In [19]:
df.rename(columns = {'NUM_USER_FOR_REVIEWS':'NUM OF USER REVIEWS'}, inplace=True)

In [20]:
df.rename(columns = {'TITLE_YEAR':'TITLE YEAR'}, inplace=True)

In [21]:
df.rename(columns = {'ACTOR_2_FACEBOOK_LIKES':'OPPOSITE ACTOR FB LIKES'}, inplace=True)

In [22]:
df.rename(columns = {'IMDB_SCORE':'IMDb SCORE'}, inplace=True)

In [23]:
df.rename(columns = {'TITLE_YEAR.1':'TITLE YEAR 1'}, inplace=True)

In [24]:
df.head()

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE,TITLE YEAR 1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

### Handling Missing Data

In [25]:
df.isnull().sum()

MOVIE NAME                 0
CRITIC REVIEWS             0
TIME                       3
DIRECTOR FB LIKES          2
ACTOR FB LIKES             0
ACTRESS FB LIKES           0
GROSS                      0
NUM OF VOTED USERS         1
CAST FB LIKES              2
FACE IN POSTER             5
NUM OF USER REVIEWS        0
BUDGET                     0
TITLE YEAR                 0
OPPOSITE ACTOR FB LIKES    1
IMDb SCORE                 0
TITLE YEAR 1               7
dtype: int64

In [26]:
# Columns with NAN using True/False
# False means it doesn't have a NAN
df.isnull().any()

MOVIE NAME                 False
CRITIC REVIEWS             False
TIME                        True
DIRECTOR FB LIKES           True
ACTOR FB LIKES             False
ACTRESS FB LIKES           False
GROSS                      False
NUM OF VOTED USERS          True
CAST FB LIKES               True
FACE IN POSTER              True
NUM OF USER REVIEWS        False
BUDGET                     False
TITLE YEAR                 False
OPPOSITE ACTOR FB LIKES     True
IMDb SCORE                 False
TITLE YEAR 1                True
dtype: bool

In [27]:
# For entire DataFrame
df.isnull().any().any()

True

In [28]:
# Total Number of Missing NA
df.isnull().sum().sum()

21

### Removing Duplicates

In [29]:
df.duplicated('MOVIE NAME').sum()

1

In [30]:
df.drop_duplicates('MOVIE NAME', inplace=True)

In [31]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE,TITLE YEAR 1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

##### Adding A Default Value or Filling the Missing Data

In [32]:
# Fill it with the mean
df['TIME'].mean()

151.7

In [33]:
df['TIME'] = df['TIME'].fillna(df['TIME'].mean())

In [34]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE,TITLE YEAR 1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,151.7,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,151.7,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,151.7,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

In [35]:
df=df.fillna(0)

In [36]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE,TITLE YEAR 1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End,302,151.7,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises,813,151.7,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled,324,151.7,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
11,Superman Returns,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

### Dropping Unnecessary columns

In [37]:
df.drop(columns='TITLE YEAR 1', inplace=True)

In [38]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the Caribbean: At World's End,302,151.7,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The Dark Knight Rises,813,151.7,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John Carter,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled,324,151.7,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
10,Batman v Superman: Dawn of Justice,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
11,Superman Returns,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 13
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MOVIE NAME               13 non-null     object
 1   CRITIC REVIEWS           13 non-null     int64
 2   TIME                     13 non-null     float64
 3   DIRECTOR FB LIKES        13 non-null     object
 4   ACTOR FB LIKES           13 non-null     int64
 5   ACTRESS FB LIKES         13 non-null     int64
 6   GROSS                    13 non-null     int64
 7   NUM OF VOTED USERS       13 non-null     float64
 8   CAST FB LIKES            13 non-null     float64
 9   FACE IN POSTER           13 non-null     float64
 10  NUM OF USER REVIEWS      13 non-null     int64
 11  BUDGET                   13 non-null     int64
 12  TITLE YEAR               13 non-null     int64
 13  OPPOSITE ACTOR FB LIKES  13 non-null     float64
 14  IMDb SCORE               13 non-null     float64
dtypes: float64(6), int64(7), object(2)
memory usage: 1.6+ KB

### Convert Datatypes

In [40]:
df.dtypes

MOVIE NAME                  object
CRITIC REVIEWS               int64
TIME                       float64
DIRECTOR FB LIKES           object
ACTOR FB LIKES               int64
ACTRESS FB LIKES             int64
GROSS                        int64
NUM OF VOTED USERS         float64
CAST FB LIKES              float64
FACE IN POSTER             float64
NUM OF USER REVIEWS          int64
BUDGET                       int64
TITLE YEAR                   int64
OPPOSITE ACTOR FB LIKES    float64
IMDb SCORE                 float64
dtype: object

In [41]:
#changing gross datatype
df.GROSS.astype(float).dtypes

dtype('float64')

In [42]:
#changing directors datatype
# Remove double quotes from the column
df['DIRECTOR FB LIKES'] = df['DIRECTOR FB LIKES'].str.replace('"', '')

# Convert the column to integers
df['DIRECTOR FB LIKES'] = df['DIRECTOR FB LIKES'].astype(float)

# Check the data types after conversion
print(df['DIRECTOR FB LIKES'].dtypes)

float64

In [43]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE
0,Avatar,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John Carter,462,132.0,475.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-Man 3,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled,324,151.7,15.0,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
10,Batman v Superman: Dawn of Justice,673,183.0,NaN,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
11,Superman Returns,434,169.0,NaN,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
12,Quantum of Solace,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [44]:
df=df.fillna(0)

In [45]:
df

,MOVIE NAME,CRITIC REVIEWS,TIME,DIRECTOR FB LIKES,ACTOR FB LIKES,ACTRESS FB LIKES,GROSS,NUM OF VOTED USERS,CAST FB LIKES,FACE IN POSTER,NUM OF USER REVIEWS,BUDGET,TITLE YEAR,OPPOSITE ACTOR FB LIKES,IMDb SCORE
0,Avatar,723,178.0,10.0,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9
1,Pirates of the Caribbean: At World's End,302,151.7,563.0,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1
2,Spectre,602,148.0,20.0,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8
3,The Dark Knight Rises,813,151.7,22000.0,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5
4,John Carter,462,132.0,475.0,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6
5,Spider-Man 3,392,156.0,23.0,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2
6,Tangled,324,151.7,15.0,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8
7,Avengers: Age of Ultron,635,141.0,10.0,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5
9,Harry Potter and the Half-Blood Prince,375,153.0,282.0,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5
10,Batman v Superman: Dawn of Justice,673,183.0,0.0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9
11,Superman Returns,434,169.0,0.0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1
12,Quantum of Solace,403,106.0,395.0,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563.0,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3

In [46]:
df['DIRECTOR FB LIKES']=df['DIRECTOR FB LIKES'].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 13
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MOVIE NAME               13 non-null     object
 1   CRITIC REVIEWS           13 non-null     int64
 2   TIME                     13 non-null     float64
 3   DIRECTOR FB LIKES        13 non-null     int32
 4   ACTOR FB LIKES           13 non-null     int64
 5   ACTRESS FB LIKES         13 non-null     int64
 6   GROSS                    13 non-null     int64
 7   NUM OF VOTED USERS       13 non-null     float64
 8   CAST FB LIKES            13 non-null     float64
 9   FACE IN POSTER           13 non-null     float64
 10  NUM OF USER REVIEWS      13 non-null     int64
 11  BUDGET                   13 non-null     int64
 12  TITLE YEAR               13 non-null     int64
 13  OPPOSITE ACTOR FB LIKES  13 non-null     float64
 14  IMDb SCORE               13 non-null     float64
dtypes: float64(6), int32(1), int64(7), object(1)
memory usage: 1.6+ KB

In [48]:
# Export DataFrame to a CSV file
df.to_csv('Movies_data.csv', index=False)